.detail{
    padding-top: 0;
    height: 70vh;
    background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../../img/gosaikunda.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    //clip-path: polygon(0 0,100% 0,100%  100%, 0 100%);
    clip-path: polygon(50% 0%, 100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
    
    &--1{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/gosaikunda.jpg");
    }

    &--2{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/mustang.jpg");
    }

    &--3{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/khumbu.jpg");
    }

    &--4{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/animation\ pic2.jpeg");
    }

    &--5{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/jungle-safari-2.jpg");
    }

    &--6{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/treeking-1.jpeg");
    }

    &--7{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/hyatt-3.jpg");
    }

    &--8{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/soaltee-crown-plaza.jpg");
    }


    &--9{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/raddison-2.jpg");
    }

    &--10{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/jungle-safari-3.jpg");
    }
    &--11{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/treeking-2.jpg");
    }
    &--12{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/khumbu-3.jpg");
    }
    &--12{  
        background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.6),
        rgba($color-tertiary-dark, 0.6) ),
    url("../img/connect.jpg");
    }


    




    &__logo-box{
        position: absolute;
        top: 3.0rem;
        left: 3.0rem;
    
    
    }
    &__logo{
        height: 12.0rem;
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-20%);
        text-align: center;
    }
    &__pictures{
        //width: 100%;
        
    }
    &__img{
        float: left;
        //margin: -5rem;
        width: 48.5rem;
        height: auto;
        object-fit: cover;
        display: block;
        
    }
    &__tour-guide{
        height: 5rem;
        border-radius: 50%;
        margin-bottom: -1rem;
    }
    /*****for list**/
    
    
}

.about{
    background-color: $color-primary;
}


/* ----------------------------------------------- */
/* Detail Pictures Gallery */
/* ----------------------------------------------- */

.section-gallery {
    padding: 0;
}

.gallery-showcase {
    list-style: none;
    width: 100%;
}

.gallery-showcase li {
    display: block;
    float: left;
    width: 33%;
}

.gallery-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.gallery-photo img {
    opacity: 0.7;
    width: 100%;
    height: 35rem;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.gallery-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

/************for to do**************/

.detail__icons{
    font-size: 2rem;
    text-align: center;
}

/**********For bottom book now box**********/
.book-now-box{
    //float: left;
    background-color: $color-grey-light-2;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    border-radius: 3rem;
    box-shadow: 0 6rem 8rem rgba($color-black,.2);
    padding: 5rem;
    margin-bottom: 5rem;

    &__link{
        float: right;
       // margin-left: 50rem;
       margin-top: -6rem;
    }

}
